name: CI

on:
  push:
  pull_request:

jobs:
  build:

    strategy:
      matrix:
        node-version: [20.x, 21.x]

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: npm

    - run: npm ci --legacy-peer-deps
    - run: npm run ci
    - run: npm run build
    - run: npm run test
